/* Import the Rubik font with specified weights */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

/* Root variables for typography and colors */
:root {
   /* Font Weights */
   --font-weight-light: 300;
   --font-weight-regular: 400;
   --font-weight-medium: 500;
   --font-weight-semibold: 600;
   --font-weight-bold: 700;
   --font-weight-extra-bold: 900;

   /* Heading Font Sizes */
   --heading-1-size: 48px;
   /* --font-weight-bold: 700; */
   --heading-2-size: 40px;
   /* --font-weight-bold: 700; */
   --heading-3-size: 32px;
   --heading-4-size: 24px;
   --heading-5-size: 20px;
   --heading-6-size: 18px;

   /* Body Text Font Sizes */
   --body-regular-10-size: 10px;
   --body-regular-12-size: 12px;
   --body-regular-14-size: 14px;
   --body-regular-16-size: 16px;
   --body-regular-18-size: 18px;
   --body-regular-20-size: 20px;
   --body-regular-22-size: 22px;
   --body-regular-24-size: 24px;

   --body-medium-10-size: 10px;
   --body-medium-12-size: 12px;
   --body-medium-14-size: 14px;
   --body-medium-16-size: 16px;
   --body-medium-18-size: 18px;
   --body-medium-20-size: 20px;
   --body-medium-22-size: 22px;
   --body-medium-24-size: 24px;

   --body-semibold-10-size: 10px;
   --body-semibold-12-size: 12px;
   --body-semibold-14-size: 14px;
   --body-semibold-16-size: 16px;
   --body-semibold-18-size: 18px;
   --body-semibold-20-size: 20px;
   --body-semibold-22-size: 22px;
   --body-semibold-24-size: 24px;

   --body-bold-10-size: 10px;
   --body-bold-12-size: 12px;
   --body-bold-14-size: 14px;
   --body-bold-16-size: 16px;
   --body-bold-18-size: 18px;
   --body-bold-20-size: 20px;
   --body-bold-22-size: 22px;
   --body-bold-24-size: 24px;

   /* Colors */
   --color-white: #ffffff;
   --color-black: #222222;

   --color-neutral-100: #fafafa;
   --color-neutral-200: #f5f5f5;
   --color-neutral-300: #eeeeee;
   --color-neutral-400: #e0e0e0;
   --color-neutral-500: #bdbdbd;
   --color-neutral-600: #9e9e9e;
   --color-neutral-700: #757575;
   --color-neutral-800: #616161;
   --color-neutral-900: #424242;
   --color-neutral-1000: #212121;

   --color-info-light: #e8f7ff;
   --color-info-light-hover: #dcf3ff;
   --color-info-light-active: #b7e7ff;
   --color-info-normal: #16b1ff;
   --color-info-normal-hover: #149fe6;
   --color-info-normal-active: #128ecc;
   --color-info-dark: #1185bf;
   --color-info-dark-hover: #0d6a99;
   --color-info-dark-active: #0a5073;
   --color-info-darker: #083e59;

   --color-success-light: #eefae6;
   --color-success-light-hover: #e6f7d9;
   --color-success-light-active: #cbefb0;
   --color-success-normal: #56ca00;
   --color-success-normal-hover: #45a200;
   --color-success-normal-active: #45a200;
   --color-success-dark: #419800;
   --color-success-dark-hover: #347900;
   --color-success-dark-active: #275b00;
   --color-success-darker: #1e4700;

   --color-disabled-light: #f3f4f4;
   --color-disabled-light-hover: #edeeef;
   --color-disabled-light-active: #dbdcde;
   --color-disabled-normal: #8a8d93;
   --color-disabled-normal-hover: #7c7f84;
   --color-disabled-normal-active: #6e7176;
   --color-disabled-dark: #686a6e;
   --color-disabled-dark-hover: #535558;
   --color-disabled-dark-active: #3e3f42;
   --color-disabled-darker: #303133;

   --color-warning-light: #fff8e6;
   --color-warning-light-hover: #fff4d9;
   --color-warning-light-active: #ffe8b0;
   --color-warning-normal: #ffb400;
   --color-warning-normal-hover: #e6a200;
   --color-warning-normal-active: #cc9000;
   --color-warning-dark: #bf8700;
   --color-warning-dark-hover: #996c00;
   --color-warning-dark-active: #735100;
   --color-warning-darker: #593f00;

   --color-error-light: #ffedee;
   --color-error-light-hover: #ffe4e5;
   --color-error-light-active: #ffc8c9;
   --color-error-normal: #ff4c51;
   --color-error-normal-hover: #e64449;
   --color-error-normal-active: #cc3d41;
   --color-error-dark: #bf393d;
   --color-error-dark-hover: #992e31;
   --color-error-dark-active: #732224;
   --color-error-darker: #591b1c;

   /* Background Colors */
   --color-bg-blue: #f6fafd;
   --color-bg-brown: #fffaf0;
   --color-bg-green: #f0fff0;
   --color-bg-grey: #fafafa;
   --color-bg-neon: #f0fffc;
   --color-bg-orange: #fff9f0;
   --color-bg-pink: #fff5f5;
   --color-bg-purple: #fcf4ff;
   --color-bg-red: #fff0f0;
   --color-bg-yellow: #fffee0;
}

/* Global Reset */
* {
   margin: 0;
   padding: 0;
   font-family: "Rubik", system-ui;
}

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
   overflow-y: auto;
}

body {
   font-size: var(--body-regular-16-size);
   height: 100vh;
   width: 100vw;
}
