@import url('https: //fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

   --primary-color: #FF8D41;
   --white-color: #ffffff;
   --black-color: #212121;

   ::selection {
      background-color: var(--primary-color);
      color: var(--white-color);
   }

}

* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   transition: .5s;
   overflow-wrap: break-word;
}

html,
body {
   background-color: var(--white-color);
   overflow-x: hidden;
   width: 100dvw;
   height: 100dvh;
   color: var(--black-color);
   font-family: 'Poppins', sans-serif;
   scroll-behavior: smooth;
}

nav {
   width: 90%;
   height: 15%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;

   #links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      font-size: 16px;
      font-weight: 500;

      a {
         color: #616161;
         text-decoration: none;

         &:nth-child(1),
         &:hover {
            color: var(--primary-color);
            font-size: 18px;
         }
      }
   }

   #contact {
      color: var(--primary-color);
      font-size: 14px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 0.2px;
      border-radius: 8px;
      display: flex;
      padding: 10px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 1.5px solid var(--primary-color);
      text-decoration: none;

      &:hover {
         color: var(--white-color);
         background-color: var(--primary-color);
      }
   }

   #menu {
      display: none;
   }
}

main {
   width: 90%;
   height: 75%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

#leftContainer {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 64px;

   #textContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 24px;

      #upperText {
         width: 100%;
         display: flex;
         gap: 8px;
         flex-direction: row;
         justify-content: start;
         align-items: center;
         color: #616161;
         font-size: 16px;
         font-weight: 500;
      }

      #heading {
         width: 60%;
         color: #424242;
         font-size: 48px;
         font-weight: 700;
         line-height: 120%;
      }

      #subheading {
         width: 55%;
         color: #757575;
         font-size: 18px;
         font-weight: 500;
         line-height: 140%;
         letter-spacing: 0.2px;
      }
   }

   #button {
      font-size: 14px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 0.2px;
      border-radius: 8px;
      display: flex;
      padding: 10px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      border: 1.5px solid var(--primary-color);
      color: var(--white-color);
      background-color: var(--primary-color);

      &:hover {
         cursor: pointer;
         color: var(--primary-color);
         background-color: var(--white-color);
         border: 1.5px solid var(--primary-color);
      }
   }
}

#rightContainer {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   img {
      scale: 100%;
      background-size: contain;

      &:hover {
         scale: 105%;
      }
   }

}

@media only screen and (max-width: 480px) {
   nav {
      width: 92%;
      height: 12%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #logo {
         scale: 80%;
      }

      #links,
      #contact {
         display: none;
      }

      #menu {
         display: block;
      }
   }

   main {
      width: 92%;
      height: 82%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
   }

   #leftContainer {
      order: 2;
      width: 100%;
      height: 45%;
      gap: 50px;

      #textContainer {
         width: 100%;
         gap: 20px;

         #upperText {
            font-size: 14px;
         }

         #heading {
            width: 80%;
            font-size: 28px;
         }

         #subheading {
            width: 90%;
            font-size: 14px;
         }
      }

      #button {
         font-size: 12px;
         border-radius: 8px;
         padding: 8px 20px;
      }
   }

   #rightContainer {
      order: 1;
      width: 92%;
      height: 45%;

      img {
         width: 100%;
         height: auto;
         background-size: contain;

         &:hover {
            scale: 105%;
         }
      }

   }
}

@media (min-width: 481px) and (max-width: 600px) {
   nav {
      width: 92%;
      height: 12%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #logo {
         scale: 80%;
      }

      #links,
      #contact {
         display: none;
      }

      #menu {
         display: block;
      }
   }

   main {
      width: 92%;
      height: 82%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
   }

   #leftContainer {
      order: 2;
      width: 100%;
      height: 45%;
      gap: 50px;

      #textContainer {
         width: 100%;
         gap: 20px;

         #upperText {
            font-size: 14px;
         }

         #heading {
            width: 60%;
            font-size: 28px;
         }

         #subheading {
            width: 70%;
            font-size: 14px;
         }
      }

      #button {
         font-size: 12px;
         border-radius: 8px;
         padding: 8px 20px;
      }
   }

   #rightContainer {
      order: 1;
      width: 92%;
      height: 45%;

      img {
         width: 100%;
         height: auto;
         background-size: contain;

         &:hover {
            scale: 105%;
         }
      }
   }
}

@media (min-width: 601px) and (max-width: 768px) {
   nav {
      width: 85%;
      height: 12%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #logo {
         scale: 90%;
      }

      #links,
      #contact {
         display: none;
      }

      #menu {
         display: block;
      }
   }

   main {
      width: 85%;
      height: 82%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
   }

   #leftContainer {
      order: 2;
      width: 100%;
      height: 45%;
      gap: 56px;

      #textContainer {
         width: 100%;
         gap: 22px;

         #upperText {
            font-size: 14px;
         }

         #heading {
            width: 60%;
            font-size: 32px;
         }

         #subheading {
            width: 65%;
            font-size: 16px;
         }
      }

      #button {
         font-size: 14px;
         border-radius: 8px;
         padding: 10px 22px;
      }
   }

   #rightContainer {
      order: 1;
      width: 100%;
      height: 45%;

      img {
         width: 80%;
         height: auto;
         background-size: contain;

         &:hover {
            scale: 105%;
         }
      }
   }
}

@media (min-width: 769px) and (max-width: 992px) {
   nav {
      width: 90%;

      #contact {
         padding: 8px 22px;
      }

      #menu {
         display: none;
      }
   }

   main {
      width: 90%;
      height: 75%;
      justify-content: space-between;
      overflow: hidden;
   }

   #leftContainer {
      width: 50%;
      height: 100%;
      gap: 56px;

      #textContainer {
         width: 100%;
         gap: 24px;

         #upperText {
            width: 100%;
            font-size: 14px;
         }

         #heading {
            width: 90%;
            font-size: 32px;
         }

         #subheading {
            width: 75%;
            font-size: 14px;
         }
      }

      #button {
         padding: 8px 20px;
      }
   }

   #rightContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
         width: 100%;
         height: auto;
         background-size: contain;

         &:hover {
            scale: 105%;
         }
      }

   }
}

@media (min-width: 993px) and (max-width: 1200px) {
   nav {
      width: 90%;

      #contact {
         padding: 10px 24px;
      }

      #menu {
         display: none;
      }
   }

   main {
      width: 90%;
      height: 75%;
      justify-content: space-between;
      overflow: hidden;
   }

   #leftContainer {
      width: 50%;
      height: 100%;
      gap: 60px;

      #textContainer {
         width: 100%;
         gap: 24px;

         #upperText {
            width: 100%;
            font-size: 14px;
         }

         #heading {
            width: 80%;
            font-size: 36px;
         }

         #subheading {
            width: 65%;
            font-size: 14px;
         }
      }

      #button {
         padding: 10px 24px;
      }
   }

   #rightContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
         width: 100%;
         height: auto;
         background-size: contain;

         &:hover {
            scale: 105%;
         }
      }

   }
}

@media (min-width: 1201px) and (max-width: 1600px) {
   nav {
      width: 90%;

      #contact {
         padding: 10px 24px;
      }

      #menu {
         display: none;
      }
   }

   main {
      width: 90%;
      height: 75%;
      justify-content: space-between;
      overflow: hidden;
   }

   #leftContainer {
      width: 50%;
      height: 100%;
      gap: 64px;

      #textContainer {
         width: 100%;
         gap: 24px;

         #upperText {
            width: 100%;
            font-size: 16px;
         }

         #heading {
            width: 60%;
            font-size: 40px;
            line-height: 58px;
         }

         #subheading {
            width: 60%;
            font-size: 16px;
         }
      }

      #button {
         padding: 10px 24px;
      }
   }

   #rightContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
         width: 100%;
         height: auto;
         background-size: contain;

         &:hover {
            scale: 105%;
         }
      }

   }
}

@media (min-width: 1601px) {
   nav {
      width: 90%;

      #contact {
         padding: 10px 24px;
      }

      #menu {
         display: none;
      }
   }

   main {
      width: 90%;
      height: 75%;
      justify-content: space-between;
      overflow: hidden;
   }

   #leftContainer {
      width: 50%;
      height: 100%;
      gap: 64px;

      #textContainer {
         width: 100%;
         gap: 24px;

         #upperText {
            width: 100%;
            font-size: 16px;
         }

         #heading {
            width: 60%;
            font-size: 48px;
            line-height: 68px;
         }

         #subheading {
            width: 52%;
            font-size: 18px;
            line-height: 140%;
            /* 25.2px */
            letter-spacing: 0.2px;
         }
      }

      #button {
         padding: 10px 24px;
      }
   }

   #rightContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
         width: 90%;
         height: auto;
         background-size: contain;

         &:hover {
            scale: 105%;
         }
      }

   }
}